<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.name %></h1>
    <p> Your Maturity Matrix is attached. We hope you find this useful.
    <p> We’d love to know what you think, so please email
    <a href="mailto:digital@breastcancercare.org.uk">digital@breastcancercare.org.uk</a>
    with any feedback or questions.
    <p>All the best.</p>
    <p>Breast Cancer Care Digital Team</p>
  </body>
</html>
