Welcome to The Digital Maturity Matrix, <%= @user.name %></h1>
===============================================

Thank you for signing up to create a Third Sector Digital Maturity Matrix.

Visit the site to create your Maturity Matrix by following this link: http://digitalmaturity.co.uk

If you have any issues, contact digital@breastcancercare.org.uk and we’ll get back to you as soon as we can.

All the best.
Breast Cancer Care Digital Team
