<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to The Digital Maturity Matrix, <%= @user.name %></h1>
    <p>Thank you for signing up to create a Third Sector Digital Maturity Matrix.</p>
    <p>Visit the site to create your Maturity Matrix
    <a href="http://digitalmaturity.co.uk/">http://digitalmaturity.co.uk/</a>.</p>
    <p>If you have any issues, contact <a href="mailto:digital@breastcancercare.org.uk">digital@breastcancercare.org.uk</a> and we’ll get back to you as soon as we can.
    <p>All the best.</p>
    <p>Breast Cancer Care Digital Team</p>
  </body>
</html>
