.btn {
  color: #FFF;
  border-color: transparent;
  min-width: 200px;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 16px;
  box-shadow: none;
  border-radius: 0px !important;
  text-shadow: none;
  &:hover, &:focus, &:active, &.active {
    color: #FFF;
    background-color: darken(#E2E2D7, 3%);
  }
}
.btn-primary {
  background: $brand-primary !important;
  border: darken($brand-primary, 3%) !important;
  color: white;
  &:hover, &:focus, &:active, &.active {
    color: white;
    background-color: darken($brand-primary, 7%) !important;
  }
}
.btn-secondary {
  background-color: $brand-secondary !important;
  border: darken($brand-secondary, 3%) !important;
  color: white;
  &:hover, &:focus, &:active, &.active {
    color: white !important;
    background-color: darken($brand-secondary, 7%) !important;
  }
}

.btn-circle {
    width: 70px;
    height: 70px;
    min-width:70px;
    border: 2px solid !important;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}