<div class="container">
  <div class="row">
    <div class="col-md-10 col-xs-11 center-block" style="float:none">
      <h1>Query Benchmarked Data</h1>
      <p>Find out how you compare to other charities using the fields below</p>
      <p>In order to keep the data anonymous we won't return results unless there are at least 10 submissions that match your query.</p>
      <p>
        <strong>Try to limit your query to 2 options, as using all 3 will generally not leave enough submissions</strong>
      </p>
      <%= render 'benchmark_queries/form' %>
    </div>
  </div>
</div>
