<section>
  <div class="content-block" style="float:none">
    <div class="submission-form-question">
      <h2>
        <%= area %>
      </h2>
    </div>
    <div class="submission-form-selection">
      <h3>Current State</h3>
    </div>
    <div class="submission-form-selection">
      <h3>Target State</h3>
    </div>
  </div>
</section>
