%div#small-warning
  %h3 Small screen warning
  %p This section doesn't work so well on narrow screens. It will work better if you turn your phone on it's side
%div.container
  %div.row
    %div.col-md-10.col-xs-11.center-block{:style => "float:none"}
      %h1= "#{@user.organisation} Digital Maturity Matrix"
      %p Select the appropriate answer for your current status and target (where you would like to get to). 

      %p For example for the question "We have the required technical infrastructure and tools to meet digital objectives", you may feel that the organisation currently lacks the appropriate infrastructure and tools, and it is something the organisation should have in future, but it's not top priority. If that is the case you might choose "strongly disagree" for your current status and "agree" for your target.

      = render 'form'

      %button{:class => "btn btn-primary hidden", :id => "prev-block", :onclick => "previousBlock();"} Previous
      %button{:class => "btn btn-primary", :id => "next-block", :onclick => "nextBlock();"} Next
      
      :javascript
        
        $(document).ready( function() {

          $("#block_Technology").removeClass("hidden").addClass("on-show");

        });

        function nextBlock() {
          $(".new-show").removeClass("new-show");
          $(".on-show").next( ".area-block" ).removeClass("hidden").addClass("new-show");
          $(".on-show").addClass("hidden").removeClass("on-show");
          $(".on-show").removeClass("on-show");
          $(".new-show").addClass("on-show");
          nextPrevButtons();
        }

        function previousBlock() {
          $(".new-show").removeClass("new-show");
          $(".on-show").prev( ".area-block" ).removeClass("hidden").addClass("new-show");
          $(".on-show").addClass("hidden").removeClass("on-show");
          $(".on-show").removeClass("on-show");
          $(".new-show").addClass("on-show");
          nextPrevButtons();
        }

        function nextPrevButtons() {
          
          if ($(".area-block").first().hasClass("on-show")) {
            console.log("first");
            $("#prev-block").addClass("hidden");
          }
          else {
            $("#prev-block").removeClass("hidden");
          }

          if ($(".area-block").last().hasClass("on-show")) {
            console.log("last");
            $("#next-block").addClass("hidden");
            $(".actions").removeClass("hidden");
          }
          else {
            $("#next-block").removeClass("hidden");
            $(".actions").addClass("hidden");
          }

        }

