%div.container
  %div.row
    %div.col-md-10.col-xs-11.center-block{:style => "float:none"}
      %h1 Your API details
      %p
        %strong= "Key: #{user.api_key}"
      %p
        %p= link_to 'Reset Key', user_api_key_path(current_user), method: :post
      %p API docs can be found on <a href='https://github.com/timpwbaker/digital-maturity-matrix/wiki/API-calls'> GitHub </a>
