<%= simple_form_for(@<%= singular_table_name %>) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs"></div>
  <%- attributes.each do |attribute| -%>
  <%- end -%>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

