// Place all the styles related to the Benchmark_applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media screen and (min-width: 700px) {
	.benchmark-header {
		background: url(/images/crossroads.jpg) center center;
		background-size: 100%;
		height:400px;
	}
}

@media screen and (max-width: 699px) {
	.benchmark-header {
		background: url(/images/crossroads.jpg) center center;
		background-size: 100%;
		height:200px;
	}
}


