
.index-header {
	background: $brand-secondary center center;
	background-size: 100%;
	height: 70vh;
	width:100%;
	position:relative;
}

.vertically-centered {
   position: absolute;               /* 2 */
   top: 35vh;                      /* 3 */
   transform: translate(0, -50%);
   width:100%;
   text-align:center;
} 

#chart-graphic {
	background: url(/images/radarchartblue.png) center center no-repeat;
	height:100%;
	width:100%;
}

h1 span.index-title {
	color: #fff;
	width:100%;
	font-size:70px;
}


@media screen and (max-width: 768px) {

h1 span.index-title {
	color: #fff;
	width:100%;
	font-size:50px;
}

}

.scroll-button {
	position:relative;
	z-index:100;
	top:50vh;
	text-align:center;
}
.scroll-button i {
	font-size:50px;
}
