// Place all the styles related to the Submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn {
	margin-top:10px;
}

.btn-primary a {
	color: #fff !important;
}

form.edit_submission select {
	width:100%;
}

#chart {
	width: 100%;
	height:auto;
	margin:auto;
}

#chart-placeholder {
	border-bottom: 1px solid #ccc;
	padding:30px 0;
}

.show-submission-header {
	border-bottom: 1px solid #ccc;
	padding:30px 0;
}

.edit-area-button {
	min-width: 0px !important;
	max-width:200px;
	width:100%;
}

@media screen and (min-width:900px) {

	.email-pdf {
		display:none;
	}

	.show-pdf {
		display:block;
	}

}

@media screen and (min-width:700px) and (max-width:899px) {

	.email-pdf {
		display:block;
	}

	.show-pdf {
		display:none;
	}

}

@media screen and (min-width:500px) and (max-width:699px) {


	.email-pdf {
		display:block;
	}

	.show-pdf {
		display:none;
	}

}

@media screen and (max-width:499px) {

	#small-warning {
		position: fixed;
		top:0px;
		left:0px;
		z-index:10;
		width:100%;
		height:100%;
		background: rgba(0,0,0,0.4);
		padding:20px;
		margin:auto;
	}

	#small-warning p {
		background:#fff;
		padding:20px;
	}

	.email-pdf {
		display:block;
	}

	.show-pdf {
		display:none;
	}

}

@media screen and (min-width:500px) {
	#small-warning {
		display:none;
	}
}