#radar-legend ul {
  list-style: none;
}

#bar-legend ul {
  list-style: none;
}

#radar-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

#bar-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

form input {
  width: 0;
}
