<section>
  <div class="content-block" style="float:none">
    <h1>Editing brand</h1>
    <%= render 'form', matrix: matrix, submission: submission, brand: brand %>
    <%= link_to 'Back', matrix_submission_path(matrix, submission), {:class => "secondary-button"} %>
  </div>
</section>
<%= javascript_include_tag "minicolours" %>

