<section>
  <div class="content-block" style="float:none">
    <h1>New brand</h1>
    <%= render 'form', matrix: matrix, submission: submission, brand: brand %>
    <%= link_to 'Back', matrix_submission_path(matrix, submission),{:class => "secondary-button", :style => "margin-left:15px"} %>
  </div>
</section>
