<%= form_tag charges_path do %>
  <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <span>Amount: £50.00</span>
      </label>
    </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Suggested Donation"
          data-amount="5000"
          data-locale="auto"
          data-currency="gbp"></script>
<% end %>

